@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Manrope:wght@500;700&family=Montserrat&family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,200;0,300;1,200&family=Roboto+Mono&family=Rubik:wght@300&family=Vina+Sans&family=Work+Sans:wght@400;600;700&display=swap');

/* reset -------------------------------------------- */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

/* variables ------------------------------------*/
:root {
    --very-dark-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
/* maine style ------------------------------------ */
body {
    background-color: var(--light-grayish-blue);
    
}
h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 1rem 1.1rem;
    color: var(--very-dark-blue);
}

h4 {
    color: var(--very-dark-blue);
}

p {
    font-size: 15px;
    font-weight: 500;
    margin: 0 1.1rem;
    color: var(--grayish-blue);
}

/* maine container ------------------------------------------------------------- */
.container {
    width: 88%;
    max-width: 430px;
    max-height: 650px;
    text-align: left;
    margin: 10% auto;
    background-color: white;
    border-radius: 10px;
    
}

/* share container ------------------------------------------------------------- */
.share-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: .5rem;
    height: 80px;
    margin: .5rem 30px 0 30px;
}

.share-container .person-pic {
    border-radius: 50%;
}
/* profile container --------------------------------------------------------- */
.person {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    margin-left: -10px;
}

.person p {
    margin-left: 0;
}

.profile {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* shate btn ------------------------------------------ */
#share , .share2 {
    background-color: var(--light-grayish-blue);
    padding: 8px;
    border-radius: 50%;
}

#share:hover , 
.share2 {
    cursor: pointer;
}
.image img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

/* social media ------------------------------------------------- */

.social-info {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    
    width: clamp(282px, 88vw ,430px);
    border-radius: 0 0 10px 10px;
    margin-top: 1rem;
    margin-left: -30px;
}

.social-info h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    color: var(--grayish-blue);
}

.social-info #share {
    background-color: var(--grayish-blue);
    
}

.social-info .links  {
    margin-left: -2rem;
      
}

.links a {
    padding: 0 .25rem ;
}

.social-medias {
    display: none;
}


.attribution {
    font-size: 11px; text-align: center;
    position: sticky;
    margin-bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    color: black;
}
 /* ============================================ test ======= */
.desktop-links {
    display: none;
}

/* .profile {
    display: block;
} */

/* .social-medias {
    display: none;
} */

/* clsasses for JavaScript -------------------------- */

.active {
    display: block;
}

.in-active {
    display: none;
}

/* screens more than 475px ---------------------------------------- */

@media (min-width: 475px) {

    .attribution {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%);
    }

    .container {
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        min-width: 750px;
    }

    .text {
        padding: 0 0 0 20px;
        margin: 20px 25px 20px 0;
    }

    .image {
        min-width: 330px;
        background-image: url(./images/drawers.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }

    .image img {
    display: none;
  }

  /* SHARE container ---------------------- */
  
  .share-container {
    justify-content: space-between;
    margin: 15px 20px 0 20px;
  }

  .social-info {
    display: none;
  }

  .text {
    position: relative;
  }

  .desktop-active {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .7rem .5rem;
    border-radius: 12px;
    position: absolute;
    bottom: 79px;
    right: -110px;
    width: 310px;
    
  }

  .desktop-active h2 {
    color: var(--grayish-blue);
    font-weight: 500;
    text-transform: uppercase;
  }
/* arrow ---------------------------------*/
  .empty {
    background-color: var(--very-dark-blue);
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 65px;
    right: 21.5px;
    z-index: -1;
  }

  .profile {
    display: flex;
  }

  .desktop-links {
    display: none;
    transform: translateY(-5px);
    transition-duration: .5s;
  }

  .active {
    display: block;
  }
}


